@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Math&display=swap&text=√^');
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #e0e0e0;
}
/* CALCULATOR - DISPLAY CSS */

.calculator {
    width: 400px;
    height: 625px;
    background-color: #FFFFFF ;
    border-radius: 5px;
    padding: 5px;
    padding-top: 25px;
    display: flex;
    flex-flow: column;
}

.display {
    margin: 10px 10px 10px 10px;
    width: calc(100% - 20px);
    height: 100px;
    border-radius: 5px;
    background-color: #333333;

    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    align-items: center;
}

.display p {
    font-size: 70px;
    font-family: 'Orbitron', 'Noto Sans Math', sans-serif;
    color: #E0E0E0;

    padding-right: 10px;
    text-align: end;
}

/* CALCULATOR - KEYS CSS */


.keys-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;

    height: 100%;
}

.row {
    width: 100%;
    height: calc(16.6% - 5px);
    margin: 5px 0 0 0;

    display: flex;
    gap: 5px;
}

.key {
    width: 25%;
}

.double-key {
    width: calc(25% * 2);
    background-color: #008CBA;
}
.double-key:hover {
    background-color: #0077B6;
}

/* Styling for different types of keys */

.key, .double-key {
    border-radius: 10px;
    border: 0px;


    color: #000000 ;
    font-weight: 600;
    font-size: 30px;
    font-family: 'orbitron','Noto Sans Math', sans-serif;

}

.numeric {
    background-color: #E0E0E0;
}
.numeric:hover {
    background-color: #CCCCCC;
}

.non-numeric {
    background-color: #FFA500;
    
}
.non-numeric:hover {
    background-color: #FF9500   ;
}

.delete {
    color:#FFFFFF ;
    background-color:#FF6347;
    
}
.delete:hover {
    background-color: #E74C3C ;
}
