
body {
    background: #585858;
}

.calculator {
    background-color: #58585800 ;
    padding: 0px;
    margin: 0;
    margin-top: 25px;
    border-radius: 0;

}

.display {
    width: 100%;
    margin: 0;
    padding: 0;

    border-radius: 0;
}

.display p {
    color: #FFFFFF;
}

.display-box {
    position: absolute;
    top: 160px;
    max-width: 400px;
    height: 0;
    margin: 0;
}
.display-box p {
    color: #FFFFFF;
}

.keys-container {
    gap: 0;
    margin: 0;
    padding: 0;
}
.row {
    gap: 0;
    margin: 0;
    padding: 0;
    flex-shrink: 0;

    height: 16.66666%;
}

.key {
    width: 25%;

}

.key, .double-key {
    flex-shrink: 0;

    border-radius: 0;
    border: 0px;
    transition: 0.2s;

    height: 100%;
    margin: 0;
    padding: 0;

    color: #FFFFFF; 
    font-weight: 600;
    font-size: 30px;
    font-family: 'orbitron', 'Noto Sans Math';
}




.double-key {
    width: calc(25% * 2);
    background-color: #046b8d; 
}
.double-key:hover {
    background-color: #0077B6; 
}
.double-key:active {
    background-color: #0056B3; 
}


.numeric {
    background-color: #969696; 
}
.numeric:hover {
    background-color: #808080; 
}
.numeric:active {
    background-color: #4D4D4D; 
}


.non-numeric {
    background-color: #FF8C00;
}
.non-numeric:hover {
    background-color: #FF9500; 
}
.non-numeric:active {
    background-color: #FF7F00; 
}


.delete {
    background-color: #d33131;
}
.delete:hover {
    background-color: #B22222; 
}
.delete:active {
    background-color: #990000;
}


.bracket {
    font-family: 'Noto Sans Math';
    background-color: #af6504;
}